/*----GLOBALES--*/
*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.padrecontainer{
    background:red;

}
header {
    background: #0000;

}

.menu{
    background: violet;
}

.logo{
    background: #146C94;

}

.nav{
    background:#19A7CE ;
}
.section{
    background: green;

}
.articulo-banner{
    background: #FF6000;
}
h1{
    background: #5eff00;
}
.footer {
    background: rgb(209, 195, 0);
}